@model IEnumerable<BigBoss.Models.CategoryModel>

@{
    ViewBag.Title = "CategoryIndex";
}

<h2>CategoryIndex</h2>
<p>@TempData["success_msg"]</p>
<p>
    @Html.ActionLink("Create New", "CategoryCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptionCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptionCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "CategoryEdit", new { id=item.Id }) |
            @Html.ActionLink("Details", "CategoryDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "CategoryDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
