
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>@Html.ActionLink("Category Index", "CategoryIndex", "AdminPanel")</div>
<div>@Html.ActionLink("Project Index", "ProjectIndex", "AdminPanel")</div>
<div>@Html.ActionLink("Donator Index", "DonatorsIndex", "AdminPanel")</div>
<div>@Html.ActionLink("Organization Index", "OrganizationIndex", "AdminPanel")</div>
<div>@Html.ActionLink("Deleted Projects", "DeletedProjects", "AdminPanel")</div>
