@model IEnumerable<BigBoss.Models.ProjectModel>

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryMod.nameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additionalInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tagsProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moneyWithCommission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moneyRaised)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfDonations)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryMod.nameCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nameProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additionalInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tagsProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moneyWithCommission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moneyRaised)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfDonations)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
